a{
    background-color: #1c87c9;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        border-radius: 8px;
        margin-left: 400px;

}

h1{
    font-family: fantasy, Helvetica, sans-serif
}

h2{
    font-family: sans-serif;
}

body{
    background-color: rgb(229, 231, 231);
}

.div-content
{
    margin-top: 200px;  
}

.div-body
{
    margin : 120px;
}

