<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
   
</head>
<body class="text-center">
    <div class="container-fluid">
        <div class="div-body pt-3 pb-3">
        <h1><strong>Simplilearn Assessment</strong> </h1>
        <h2> Welcome to Online Angular Test</h2>
        <div class="col-xs-6 col-md-6 col-lg-6 pb-3">
            <img src="../../assets/images/img2.jpg">
        </div>
        <a routerLink="/assessment">Start Quiz </a>
    </div>

    </div>
</body>
</html>